[Unit]
Description=manages tv-remote
After=multi-user.target

[Service]
Type=idle
User=terickson
WorkingDirectory=/usr/apps/tv-remote
ExecStart=/usr/apps/tv-remote/node_modules/.bin/serve --single --port=3001 /usr/apps/tv-remote/dist
Restart=always
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=multi-user.target
